.sectionEducation {
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}

.sectionEducation h2 {
  color: purple;
}

.cardContainer {
  max-width: 800px;
  width: 100%;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}

.educationCard {
  width: 100%; height: 250px;
  display: flex;
  align-content: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  overflow: hidden;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.326);
  background-color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.educationCard:hover {
  transform: scale(1.01);
}

.educationCard > div:nth-child(1) {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.educationCard > div:nth-child(2) {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.educationCard > div:nth-child(2) p {
  width: 100%;
  font-weight: bold;
}

.collegeName {
  width: 100%;
}

.locationYear {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  font-size: 12px;
}

/* PORTRAIT (MOBILE DEVICES)*/
@media screen and (min-width: 450px) {}

@media screen and (min-width: 560px) {
  .cardContainer {
    height: 100%;
    justify-content: center;
  }
  .educationCard {
    padding: 0;
    height: 180px;
    flex-direction: row;
    font-size: 16px;
    gap: 28px;
  }
  .educationCard > div:nth-child(1) {
    width: 250px;
  }
}
/* LANDSCAPE (MOBILE DEVICES), TABLETS*/
@media screen and (min-width: 768px) {}

/* Extra Large Screens, Desktop  */
@media screen and (min-width: 1024px) {}

/* Extra Large Screens  */
@media screen and (min-width: 1200px) {}