.sectionExperience {
  padding: 20px;

}

.sectionExperience h2 {
  margin-bottom: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.card {
  font-size: 14px;
  width: 100%; max-width: 450px;
  height: 140px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.299);
  overflow: hidden;
  color: #000;
}

.card > div:nth-child(1) {
  padding: 15px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 6px;
}

.imgContainer {
  position: relative;
  width: 140px; height: 100%;
  object-fit: cover;
  overflow: hidden;
}

/* PORTRAIT (MOBILE DEVICES)*/
@media screen and (min-width: 450px) {
  .card {
    font-size: 16px;
  }
  .container {
    padding: 20px 0 80px 0;
  }
}

/* LANDSCAPE (MOBILE DEVICES), TABLETS*/
@media screen and (min-width: 768px) {}

/* Extra Large Screens, Desktop  */
@media screen and (min-width: 1024px) {}

/* Extra Large Screens  */
@media screen and (min-width: 1200px) {}