.landingContent {
    min-height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.infoContainer {
    order: 2;
    width: 80%;
    padding: 10px 20px;
    border-radius: 0 0 12px 12px;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(14.3px);
    -webkit-backdrop-filter: blur(14.3px);
    background-color: rgba(255, 255, 255, 0.5);
}

.info {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.position {
    font-weight: bold;
    font-size: 20px;
    color: black;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.name {
    color: #301934;
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 1.4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.imgContainer {
    order: 1;
    position: relative;
    width: 80%;
    height: 350px;
}

.imgContainer>img {
    border-radius: 8px 8px 0 0;
    object-fit: cover;
    object-position: top;
    box-shadow: 2px 5px 8px rgba(0, 0, 0, 0.3);
}

.iconsContainer {
    display: none;
}

.letsGo {
    display: none;
}

@media screen and (min-width: 450px) {
    .imgContainer {
        height: 450px;
    }

}

@media screen and (min-width: 1024px) {
    .landingContent {
        flex-direction: row;
        padding: 0 50px;
    }

    .imgContainer {
        order: 2;
        width: 400px;
        height: 500px;
    }

    .imgContainer>img {
        border-radius: 0 12px 12px 0;
    }

    .infoContainer {
        order: 1;
        color: #fff;
        border-radius: 12px 0 0 12px;
        width: calc(100% - 500px);
        height: 500px;
        display: flex;
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: column;
        gap: 30px;
        padding-left: 40px;
    }

    .position {
        font-size: 26px;
    }

    .name {
        font-size: 52px;
    }

    .iconsContainer {
        width: 100%;
        max-width: 400px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 50px);
        place-items: flex-start;
        gap: 20px 20px;
    }

    .letsGo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #301934;
        box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.4);
        width: 100px;
        height: 32px;
        border-radius: 5px;
    }
}