.mainHeader {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.2);
    /* border-bottom: 1px solid #fff; */
    padding: 0 12px;
    position: fixed;
    top: 0;
    /* background-color: #ffffffb7; */
    background-color: #30193496;
    backdrop-filter: blur(12.4px);
    -webkit-backdrop-filter: blur(12.4px);
    z-index: 2;
}

.mainHeader h1 {
    display: inline-block;
    font-size: 26px;
    letter-spacing: 2px;
}

.mainHeader h1::after {
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-left: 5px;
}

.forMobile {
    background-color: transparent;
}

.mainHeader nav {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    top: 60px;
    right: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: #301934;
}

.mainHeader nav a {
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: transparent;
    padding: 4px 10px 6px 10px;
    color: #fff;
    width: 100%;
    border-radius: 4px;
}

.active {
    color: yellow !important;
    background-color: rgba(128, 128, 128, 0.4) !important;
}

/* PORTRAIT (MOBILE DEVICES)*/
@media screen and (min-width: 450px) {}

/* LANDSCAPE (MOBILE DEVICES), TABLETS*/
@media screen and (min-width: 768px) {
    .mainHeader {
        padding: 0 35px;
    }

    .mainHeader nav a {
        border-radius: 15px;
        justify-content: center;
    }

    .mainHeader nav a:hover {
        background-color: rgba(128, 128, 128, 0.525);
    }
}

@media screen and (min-width: 850px) {
    .mainHeader nav {
        position: unset;
        align-items: center;
        flex-direction: row;
        border-radius: unset;
        background-color: unset;
        padding: unset;
    }

    .forMobile {
        display: none;
    }
}

/* Extra Large Screens, Desktop  */
@media screen and (min-width: 1024px) {
    .mainHeader {
        padding: 0 80px;
    }

}

/* Extra Large Screens  */
@media screen and (min-width: 1200px) {
    .mainHeader {
        padding: 0 140px;
    }
}