.sectionSkills {
  background-color: purple;
}

.sectionSkills h2 {
  color: white;
}

.skillContainer {
  max-width: 900px;
  height: 100%;
  margin: 30px auto;
  padding: 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(103px, 1fr));
  grid-auto-rows: 103px;
  gap: 10px;
  font-size: 14px;
}

.skillContainer>div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  background-color: rgb(32, 32, 32);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

/* PORTRAIT (MOBILE DEVICES)*/
@media screen and (min-width: 520px) {
  .skillContainer {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-auto-rows: 120px;
  }
}

@media screen and (min-width: 680px) {}

/* LANDSCAPE (MOBILE DEVICES), TABLETS*/
@media screen and (min-width: 768px) {
  .skillContainer {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;
  }
}

@media screen and (min-width: 860px) {
  .sectionSkills {
    display: flex;
    place-items: center;
    place-content: center;
    flex-direction: column;
  }
}

/* Extra Large Screens, Desktop  */
@media screen and (min-width: 1024px) {}

/* Extra Large Screens  */
@media screen and (min-width: 1200px) {}