.container {
  width: 100%;
  max-width: 1000px;
  margin: 30px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(234px, 1fr));
  grid-auto-rows: 234px;
  gap: 20px;
}

.workCard {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 14px;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.2s ease-out;
}

.imgContainer {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.1);
}

.title {
  width: 100%;
  height: 20px;
  padding: 0 2px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
}

.title>span {
  letter-spacing: 0.5px;
}

.title>a {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* PORTRAIT (MOBILE DEVICES)*/
@media screen and (min-width: 450px) {}

@media screen and (min-width: 560px) {}

/* LANDSCAPE (MOBILE DEVICES), TABLETS*/
@media screen and (min-width: 768px) {
  .workCard:hover {
    transform: scale(1.04);
  }
}
@media screen and (min-width: 860px) {
  .sectionWork {
    display: grid;
    place-content: center;
  }
}

/* Extra Large Screens, Desktop  */
@media screen and (min-width: 1024px) {}

/* Extra Large Screens  */
@media screen and (min-width: 1200px) {}